:root {
  --twitter-blue: rgb(29, 155, 240);
  --mid-gray: rgb(83, 100, 113);
}

body {
  margin: 0;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.profile-pic {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-pic-col {
  min-width: 40px;
  display: flex;
  align-items: baseline;
}

.screen-name,
.username,
.created-at {
  width: auto;
  flex-shrink: 0;
}
.screen-name:hover,
.username:hover,
.created-at:hover {
  text-decoration: underline;
}

.screen-name {
  font-size: 1rem;
  font-weight: bold;
}

.username {
  margin: 0 0.25rem;
  font-size: 1rem;
  font-weight: normal;
  color: var(--mid-gray);
}

.tweet {
  max-width: 600px;
  padding: 1rem 0;
  margin-bottom: 1rem;
  text-align: left;
  gap: 10px;
}
.tweet + .tweet {
  border-top: solid 1px #ddd;
  margin: 1rem 0;
}
.tweet .tweet {
  border: solid 1px #ddd;
  border-radius: 25px;
  padding: 10px 15px;
  margin: 0.5rem 0;
}
.tweet .tweet .profile-pic {
  width: 25px;
}

.tweet-large .tweet-content {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.tweet-user {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.tweet-img {
  flex-grow: 1;
  flex-shrink: 1;
  width: calc(50% - 10px);
  cursor: pointer;
}

.tweet-img img {
  width: 100%;
  height: 100%;
  max-height: 530px;
  min-height: 150px;
  object-fit: cover;
}

.tweet-media {
  display: flex;
  flex-flow: row wrap;
  flex-basis: auto;
  gap: 2px;
  border: solid 1px #eee;
  border-radius: 15px;
  overflow: hidden;
  margin: 0.5rem 0;
}

.tweet-metrics {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.tweet-metrics-item {
  font-size: 1.1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.tweet-metrics-item-value {
  font-weight: 400;
  color: var(--mid-gray);
  margin: 0 0.3em;
}

.tweet-metrics-item-label {
  font-weight: 400;
  color: var(--mid-gray);
  display: none;
}

.metric-icon {
  margin-right: 0.2em;
  height: 1em;
}

.metric-icon svg {
  fill: var(--mid-gray);
  height: 100%;
}

.tweet-footer {
  display: flex;
  gap: 20px;
}

.tweet-footer a {
  display: flex;
}

.tweet-small {
  display: flex;
}
.tweet-small .tweet-user {
  display: flex;
  align-items: center;
}
.tweet-small .tweet-content {
  font-size: 1.25rem;
}

.divider {
  font-size: 1rem;
  margin-right: 0.25rem;
  color: var(--mid-gray);
  width: auto;
}

.created-at {
  font-size: 1rem;
  color: var(--mid-gray);
}

.navbar-nav {
  display: flex;
}

.navlink {
  margin: 0 0.3rem;
}

.app {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  max-width: 900px;
}

.main {
  flex: 1 1 0;
  border-left: solid 1px #ddd;
  padding: 20px;
}

.sidebar {
  justify-content: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding-top: 160px;
  position: sticky;
  width: 150px;
  top: 0px;
}

@media screen and (max-width: 800px) {
  .profile-pic-col {
    display: none;
  }

  .app {
    flex-flow: column nowrap;
    gap: 0;
  }

  .main {
    border: none;
    padding: 0;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px 0;
  }
  .sidebar nav {
    flex-flow: row nowrap;
    display: flex;
  }

  .tweet .tweet-content {
    font-size: 1rem;
  }

  .form-inputs label strong {
    display: none;
  }
}
.sidebar-item {
  margin-bottom: 16px;
}

.sidebar-icon {
  width: 2rem;
  margin-right: 0.5rem;
  fill: rgb(56, 110, 180);
}

.sidebar-item a {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1em;
  text-decoration: none;
  color: black;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}
.sidebar-item a .sidebar-icon {
  stroke-width: 0.25px;
}
.sidebar-item a:hover, .sidebar-item a.active {
  background-color: var(--twitter-blue);
  font-weight: bold;
  color: white;
}
.sidebar-item a:hover .sidebar-icon, .sidebar-item a.active .sidebar-icon {
  fill: white;
  stroke: white;
  stroke-width: 0.25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.edit-btn,
.save-btn {
  color: var(--btn-color);
  border: solid 1px var(--btn-color);
  border-radius: 5px;
  padding: 0.15rem 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.edit-btn.active,
.save-btn.active {
  --btn-color: red;
}
.edit-btn:hover,
.save-btn:hover {
  background-color: var(--btn-color);
  color: white;
}

.edit-btn {
  --btn-color: var(--twitter-blue);
}

.save-btn {
  --btn-color: green;
}

.list-btns {
  display: flex;
  gap: 5px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.modal.open {
  display: flex;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 3%;
  width: 80%;
  height: 100%;
}
.modal-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(2px 4px 20px rgba(0, 0, 0, 0.2));
}

button.slide-controls {
  height: 100%;
  flex: 1 1 0;
  outline: none;
  border: none;
  opacity: 0.5;
}
button.slide-controls div {
  fill: white;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  line-height: 1em;
  font-weight: bold;
  margin: 3%;
  outline: none;
  border-radius: 50%;
  background: black;
  width: 75%;
  aspect-ratio: 1;
}
button.slide-controls div span {
  width: 100%;
}

.delete-icon svg {
  fill: red;
  cursor: pointer;
}

input[type=text] {
  border: solid 1px #ddd;
  border-radius: 5px 0 0 5px;
  padding: 0.25rem 0.5rem;
}

.submit-btn {
  border: solid 1px var(--twitter-blue);
  border-radius: 0 5px 5px 0;
  color: var(--twitter-blue);
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.submit-btn:hover {
  background-color: var(--twitter-blue);
  color: #fff;
}

.add-form,
.add-list-form {
  display: flex;
}

.form-inputs {
  border: solid 1px #ddd;
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}
.form-inputs input,
.form-inputs select {
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  padding: 0rem 0.75rem;
  margin: 0;
}

.list-header {
  display: flex;
  align-items: baseline;
}

.list-link {
  display: flex;
  align-items: baseline;
  border-radius: 10px;
  margin: 0.5rem 0;
  padding: 1rem;
  border: solid 1px #ddd;
  gap: 20px;
}
.list-link:hover {
  color: var(--twitter-blue);
}

/*# sourceMappingURL=index.css.map */
